
body{
  background-color:#efdecd ;
}
#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#snabba {
  top: 20px;
  background-color: #ffc1cc;
  

}

#familj {
  top: 80px;
  background-color: #5f9ea0;
}

#veg {
  top: 140px;
  background-color: #87a96b;
}

#helg {
  top: 200px;
  background-color: #483c32;
}

#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; 
  width: 100px; 
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; 
  border-radius: 0 5px 5px 0; 
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}



.div-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  position: relative;

  
}

.slider-button {
  border: none;
  display: inline-block;
  padding: 3px 3px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: #faebd7;
  background-color: #3d2b1f;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%)
}

.slider-button:hover {
  color: thistle (176, 255, 169);
}

.display-left {
  left: 0%;
}

.display-right {
  right: 0%;
}




